@import url(https://fonts.cdnfonts.com/css/w95fa);

@font-face {
    src: url('../FONTS/NeueBit-Regular.ttf');
    font-family: neue;
}

@font-face {
    src: url('../FONTS/PPMondwest-Regular.otf');
    font-family: mondwest;
}

:root {
    --activeR: 0deg;
    --sizeWall: 300vw;
    --halfSizeWall: calc(var(--sizeWall) / 2);
    --animation-duration: 400ms;
    --curve: linear;
    --scroll-depth: 0vw;
    --base-translate-x: calc(var(--halfSizeWall) * 0.5);
    --base-translate-z: calc(var(--scroll-depth) + var(--halfSizeWall) * -1);
    --base-rotate-y: rotateY(-90.001deg);
    --left-translate-z: calc(var(--scroll-depth) + var(--sizeWall) * -1);
    --left-rotate-y: rotateY(90.001deg);
    --left-translate-x: calc(var(--halfSizeWall) * -0.5);
    --left-rotate-deg: 90.001deg;
    --perspective: 100vw;
    --g_margin: 40px;
    --font-size: .9rem;
    --word: "tesdddt";
}

html {
    overflow: hidden;
}

body {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 112.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100dvh;
    margin: 0;
    cursor: crosshair;
}

p {
    font-size: var(--font-size);
    line-height: var(--font-size);
    margin: calc(var(--font-size) / 2) 0;
}

.home {
    background: red;
    z-index: 100000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.scene {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: var(--perspective);
    perspective-origin: 50% 50%;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.wall {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: var(--sizeWall);
    height: 100%;
}

.wall .grid {
    transform-origin: center left;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    min-width: 0;
}

table caption,
table td,
table th {
    unicode-bidi: isolate;
    display: table-cell;
    /* font-weight: 400; */
    text-align: -internal-center;
    vertical-align: inherit;
}

.scene .grid:not(.active) .inner>* {
    transition: .5s opacity ease;
}

.scene.isOpen {
    pointer-events: none;
}

.scene.isOpen .grid:not(.active) {
    background: rgb(240, 240, 240) !important;
}

.scene.isOpen .grid:not(.active) .inner>* {
    pointer-events: none;
    opacity: 0;
}

.scene.allActive .wall .grid {
    transition: var(--animation-duration) transform ease-out;
}

.scene.isOpen .wall .grid.grid.active,
.scene.isOpen .wall .grid.grid.active .inner,
.scene:not(.isOpen) .wall .grid .inner {
    pointer-events: initial;
}

.wall .grid .inner {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: center left;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -webkit-transform: rotateY(var(--activeR));
    -moz-transform: rotateY(var(--activeR));
    transform: rotateY(var(--activeR));
    overflow: hidden;
    box-sizing: border-box;
    min-width: 0;
    height: 100%;
    margin: 0;
    transition: transform var(--animation-duration) ease, opacity 1.2s ease, padding var(--animation-duration) linear, margin var(--animation-duration) linear;
}

.wall.right .grid .inner {
    transform-origin: center right;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
}

.grid .inner.video-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wall .grid.active .inner {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: scroll;
    margin: 0 0;
}

.wall .grid .inner .inner-container {
    height: 100%;
}

.wall .grid.active .inner .inner-container {
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.wall .grid .inner-title {
    -webkit-font-smoothing: antialiased;
    position: sticky;
    top: var(--g_margin);
    bottom: var(--g_margin);
    margin: 0;
    padding: 0;
    font-size: 5rem;
    text-align: center;
}

.scene.isOpen .grid:not(.active) {
    pointer-events: none;
}

@media screen and (hover:hover) {

    .wall .grid .inner:hover {
        --activeR: -6deg;
        cursor: cell;
    }

    .wall.right .grid .inner:hover {
        --activeR: 6deg;
    }

    .wall .grid.active .inner:hover {
        --activeR: 0deg;
    }
}

.wall.right .grid {
    transform-origin: center right;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
    -webkit-transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
    -moz-transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
    transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
}

.wall.left {
    left: 0;
}

.wall.right {
    direction: rtl;
    right: 0;
}

.grid img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.grid video {
    object-position: center;
    transform: scale(var(--vidScale));
    width: 100%;
    height: 100%;
    /* animation: upScale 1.2s forwards ease; */
}


.grid.active video {
    transform: scale(var(--vidScale));
    width: 50%;
}

.grid video.hidden-video {
    display: block;
    visibility: hidden;
}

.grid video.video-loaded {
    visibility: visible;
}

.grid.active video {
    animation: downScale var(--animation-duration) forwards ease;
}




.projects {
    display: none;
    position: relative;
    max-height: 100dvh;
    overflow: scroll;
    height: 100%;
    width: 100vw;
    margin-top: -100vh;
    z-index: 1000;
}


.projects .project {
    height: fit-content;
    background: greenyellow;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* border-top: solid 1px grey; */
    position: relative;
}

.projects .project:not(.p-focus) {}

.projects .project.p-focus {
    height: 200%;
}

.projects .project.p-focus video.flat-video {
    position: sticky;
}

.projects .project video.flat-video {
    background: white;
    /* object-position: center;
    transition: 2s linear all 3s; */
    width: 50%;
    height: 100vh;
    top: 0px;
}

/* .projects div.project.reverse .flat-content {
    border-right: solid 1px grey;
} */

/* .projects .project.p-focus video.flat-video { */
.project:not(.p-focus) video.flat-video {
    object-position: top;
    animation: top_video calc(var(--animation-duration)/4) forwards linear;
}

@keyframes top_video {
    from {
        object-position: center;
    }

    to {
        object-position: top;
    }
}


.specs {
    /* font-family: monospace; */
    max-width: 600px;
}

.specs div {
    font-size: var(--font-size);
    text-transform: lowercase;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

.label {
    padding-right: 8px;
}

.dots {
    flex-grow: 1;
    border-bottom: 1px dotted #ccc;
    margin: 0 8px;
    height: 0.8em;
    position: relative;
}

.specs div::before {
    content: ">>";
    color: #4d4d4d;
    left: 0;
    pointer-events: none;
}

.flat-content .image_content {
    width: 100%;
}



.projects .project.reverse .flat-content::before {
    /* margin-left: 100%; */
}

.projects .project .flat-content {
    display: grid;
    position: relative;
    /* grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        "p_title p_title p_title"
        "p_description . ."
        "p_tab . ."
        "p_images . ."
        "p_video . .";
        grid-template-rows: auto;
        justify-items: start;
    background: rgb(255, 255, 255);
    /* padding: calc(var(--g_margin) / 4) calc(var(--g_margin) / 2) ; */
    padding: calc(var(--g_margin) / 4) 0;
    width: 50%;
    /* min-height: 100%; */
    /* height: calc(100% - var(--g_margin) /2); */
}
.p_title{
    grid-area: p_title;
}
.p_tab{
    grid-area: p_tab;
}
.p_description{
    grid-area: p_description;
}
.p_images{
    grid-area: p_images;
    display: flex;
    width: 50vw;
}
.p_images .image_content{
    width: 50%;
}
.p_video{
    grid-area: p_video;
}
.p_video img{
    width: 100%;
}
.v_player{
    left: 0;
    display: flex;
    flex-direction: column;
}

.projects .project.p-focus .flat-content {
    height: 50%;
    margin-top: 100vh;
    /* margin-top: 10vh; */
}

.flat-content p,
.flat-content>.specs {
    margin: calc(var(--g_margin) *.1) calc(var(--g_margin) * .25);
}

.projects .project.reverse {
    flex-direction: row-reverse;
}

/* .scene.isOpen+.projects { */
.open_projects {
    display: flex;
    flex-direction: column;
}

@keyframes upScale {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(var(--vidScale));
    }
}

@keyframes downScale {
    from {
        transform: scale(var(--vidScale)) !important
    }

    to {
        transform: scale(1);
    }
}

.grid img::selection {
    background: 0 0;
}

.grid img::-moz-selection {
    background: 0 0;
}

.grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -75%;
    width: 100%;
    height: 250%;
    font-size: 35rem;
    color: #000;
}

.grid .cell {
    display: none;
    flex-direction: column;
    gap: 80px;
    margin: 80px 0;
    padding: 0 80px;
    background: #fff;
}

.grid .cell h5,
.grid .cell p,
table caption,
table td,
table th {
    font-size: 3.6rem;
}

.grid .cell h5 {
    margin: 0;
    font-size: 3.2em;
    /* font-weight: 400; */
    line-height: normal;
    color: rgba(0, 0, 0, .902);
    text-transform: lowercase;
    letter-spacing: -.2rem;
}

.grid .cell div.placeholder {
    padding: 50%;
    background-color: #eaeaea;
}

.wall.right .grid .cell {
    text-align: end;
}

.grid.active .cell {
    display: flex;
}

.cell>* {
    margin: 0;
}

.about {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about a {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width:900px) {

    .scene {
        touch-action: none;
        overflow: hidden;
    }

    .grid video {
        pointer-events: none;
    }
}