@import url(https://fonts.cdnfonts.com/css/w95fa);

@font-face {
    src: url('../FONTS/NeueBit-Regular.ttf');
    font-family: neue;
}

@font-face {
    src: url('../FONTS/PPMondwest-Regular.otf');
    font-family: mondwest;
}

:root {
    --activeR: 0deg;
    --sizeWall: 300vw;
    --halfSizeWall: calc(var(--sizeWall) / 2);
    --animation-duration: 400ms;
    --curve: linear;
    --scroll-depth: 0vw;
    --base-translate-x: calc(var(--halfSizeWall) * 0.5);
    --base-translate-z: calc(var(--scroll-depth) + var(--halfSizeWall) * -1);
    --base-rotate-y: rotateY(-90.001deg);
    --left-translate-z: calc(var(--scroll-depth) + var(--sizeWall) * -1);
    --left-rotate-y: rotateY(90.001deg);
    --left-translate-x: calc(var(--halfSizeWall) * -0.5);
    --left-rotate-deg: 90.001deg;
    --perspective: 100vw;
    --g_margin: 40px;
    --word: "tesdddt";
}

html {
    overflow: hidden;
}

body {
    height: 100dvh;
    margin: 0;
    cursor: crosshair;
}

.scene {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: var(--perspective);
    perspective-origin: 50% 50%;
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.wall {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: var(--sizeWall);
    height: 100%;
}

.wall .grid {
    transform-origin: center left;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    min-width: 0;
}

table caption,
table td,
table th {
    unicode-bidi: isolate;
    display: table-cell;
    font-weight: 400;
    text-align: -internal-center;
    vertical-align: inherit;
}

.scene .grid:not(.active) .inner>* {
    transition: .5s opacity ease;
}

.scene.isOpen .grid:not(.active) .inner>* {
    pointer-events: none;
    opacity: 0;
}

.scene.allActive .wall .grid {
    transition: var(--animation-duration) transform ease-out;
}

.scene.isOpen .wall .grid.grid.active,
.scene.isOpen .wall .grid.grid.active .inner,
.scene:not(.isOpen) .wall .grid .inner {
    pointer-events: initial;
}

.wall .grid .inner {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: center left;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    -webkit-transform: rotateY(var(--activeR));
    -moz-transform: rotateY(var(--activeR));
    transform: rotateY(var(--activeR));
    overflow: hidden;
    box-sizing: border-box;
    min-width: 0;
    height: 100%;
    margin: 0;
    transition: transform var(--animation-duration) ease, opacity 1.2s ease, padding var(--animation-duration) linear, margin var(--animation-duration) linear;
}

.wall.right .grid .inner {
    transform-origin: center right;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
}

.grid .inner.video-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wall .grid.active .inner {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: scroll;
    margin: 0 0;
}

.wall .grid .inner .inner-container {
    height: 100%;
}

.wall .grid.active .inner .inner-container {
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.wall .grid .inner-title {
    -webkit-font-smoothing: antialiased;
    position: sticky;
    top: var(--g_margin);
    bottom: var(--g_margin);
    margin: 0;
    padding: 0;
    font-size: 5rem;
    text-align: center;
}

.scene.isOpen .grid:not(.active) {
    pointer-events: none;
}

@media screen and (hover:hover) {

    .wall .grid .inner:hover {
        --activeR: -6deg;
        cursor: cell;
    }

    .wall.right .grid .inner:hover {
        --activeR: 6deg;
    }

    .wall .grid.active .inner:hover {
        --activeR: 0deg;
    }
}

.wall.right .grid {
    transform-origin: center right;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
    -webkit-transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
    -moz-transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
    transform: translateX(calc(var(--halfSizeWall) * .5)) translateZ(calc(var(--scroll-depth) + var(--halfSizeWall) * -1)) rotateY(-90.001deg);
}

.wall.left {
    left: 0;
}

.wall.right {
    direction: rtl;
    right: 0;
}

.grid img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.grid video {
    object-position: center;
    transform: scale(var(--vidScale));
    width: 100%;
    height: 100%;
    animation: upScale 1.2s forwards ease;
}

.grid.active video {
    transform: scale(var(--vidScale));
    width: 50%;
}

.grid video.hidden-video {
    display: block;
    visibility: hidden;
}

.grid video.video-loaded {
    visibility: visible;
}

.grid.active video {
    animation: downScale var(--animation-duration) forwards ease;
}




.projects {
    display: none;
    position: relative;
    max-height: 100dvh;
    overflow: scroll;
    height: 100%;
    width: 100vw;
    margin-top: -100vh;
    z-index: 1000;
}


.projects .project {
    height: 100%;
    display: flex;
    position: relative;
}

.projects .project.p-focus {
    height: 200%;
}

.projects .project.p-focus video.flat-video {
    position: sticky;
}

.projects .project video.flat-video {
    width: 50%;
    height: 100vh;
    top: 0px;
}

.projects .project .flat-content {
    position: relative;
    background: rgb(129, 129, 129);
    width: 50%;
    height: 100%;
}

.projects .project.p-focus .flat-content {
    height: 50%;
    margin-top: 100vh;
    background: red;
}

.projects .project:nth-child(2),
.projects .project:nth-child(4) {
    flex-direction: row-reverse;
}

/* .scene.isOpen+.projects { */
.open_projects {
    display: block;
}

@keyframes upScale {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(var(--vidScale));
    }
}

@keyframes downScale {
    from {
        transform: scale(var(--vidScale)) !important
    }

    to {
        transform: scale(1);
    }
}

.grid img::selection {
    background: 0 0;
}

.grid img::-moz-selection {
    background: 0 0;
}

.grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -75%;
    width: 100%;
    height: 250%;
    font-size: 35rem;
    color: #000;
}

.grid .cell {
    display: none;
    flex-direction: column;
    gap: 80px;
    margin: 80px 0;
    padding: 0 80px;
    background: #fff;
}

.grid .cell h5,
.grid .cell p,
table caption,
table td,
table th {
    font-size: 3.6rem;
}

.grid .cell h5 {
    margin: 0;
    font-size: 3.2em;
    font-family: neue;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, .902);
    text-transform: lowercase;
    letter-spacing: -.2rem;
}

.grid .cell div.placeholder {
    padding: 50%;
    background-color: #eaeaea;
}

.wall.right .grid .cell {
    text-align: end;
}

.grid.active .cell {
    display: flex;
}

.cell>* {
    margin: 0;
}

.about {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about a {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width:900px) {

    .scene {
        touch-action: none;
        overflow: hidden;
    }

    .grid video {
        pointer-events: none;
    }
}